# --- Environment ---
NODE_ENV=development

# --- Server (Maps to config.SERVER) ---
SERVICE_NAME=auth-service
SERVICE_ENV=development
SERVICE_PORT=50051
SERVICE_LOG_LEVEL=debug

# --- PostgreSQL (Maps to config.PSQL) ---
PSQL_HOST=ep-still-wave-ahccps8g-pooler.c-3.us-east-1.aws.neon.tech
PSQL_PORT=5432
PSQL_USER=neondb_owner
PSQL_PASSWORD=npg_c1IVXtwJP9kx
PSQL_DATABASE=neondb
PSQL_SSL=true

# --- Redis (Maps to config.REDIS) ---
REDIS_URL=redis://localhost:6379
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=0
REDIS_DB=0
# TTLs in seconds
REDIS_JWT_BLACKLIST_TTL=3600
REDIS_USER_SESSIONS_TTL=604800

# --- RabbitMQ (Maps to config.RABBITMQ) ---
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin
RABBIT_URL=amqp://admin:admin@localhost:5672

# --- Security & Crypto (Maps to config.SECURITY) ---
BCRYPT_SALT_ROUNDS=12
ENCRYPTION_KEY=ec9a182f28756aa22788ef01fcb91972a832496e4d7573ff87c5bd7aa3409de4

# --- JWT Tokens (Maps to config.TOKENS) ---
JWT_ACCESS_ALG=RS256
JWT_ACCESS_PRIVATE_KEY_PATH=./keys/access_private.pem
JWT_ACCESS_PUBLIC_KEY_PATH=./keys/access_public.pem
ACCESS_TOKEN_ACTIVE_TIME=5m

JWT_REFRESH_ALG=HS256
JWT_REFRESH_SECRET=9827342t398t732r
REFRESH_TOKEN_ACTIVE_TIME=20d

# --- Google OAuth ---
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# --- gRPC ---
INTERNAL_GRPC_SHARED_SECRET=secret-key