{{#> base}}
<h2>Two-Factor Authentication Enabled</h2>
<p>2FA has been successfully enabled on your account.</p>
<p>From now on, you'll need your authenticator app to log in. Make sure to keep your backup codes in a safe place.</p>
<p>If you didn't enable 2FA, please contact support immediately.</p>
{{/base}}
