{{#> base}}
<h2>Password Reset</h2>
{{#if token}}
<p>You requested to change your password. Click the button below to set a new password:</p>
<p style="text-align: center;">
  <a href="{{resetLink}}" class="btn">Set New Password</a>
</p>
<p>This link will expire in 1 hour. If you didn't request this, you can safely ignore this email.</p>
{{else}}
<p>You requested a password reset. Use the code below to reset your password:</p>
<div class="code-box">{{resetCode}}</div>
<p>This code will expire in 15 minutes.</p>
<p>If you didn't request this, you can safely ignore this email.</p>
{{/if}}
{{/base}}
