{{#> base}}
<h2>Welcome to {{serviceName}}, {{username}}!</h2>
<p>Your account has been created successfully. You're all set to start using the platform.</p>
<p>If you didn't create this account, please contact our support team immediately.</p>
{{/base}}
