SERVICE_NAME=payment-service
SERVICE_PORT=50057
WEBHOOK_HTTP_PORT=3001

PSQL_HOST=
PSQL_PORT=5432
PSQL_USER=
PSQL_PASSWORD=
PSQL_DATABASE=

REDIS_URL=redis://localhost:6379

RABBIT_URL=amqp://admin:admin@localhost:5672

CRYPTOMUS_MERCHANT_ID=
CRYPTOMUS_API_KEY=
CRYPTOMUS_PAYMENT_LIFETIME=3600

FONDY_MERCHANT_ID=
FONDY_MERCHANT_PASSWORD=
FONDY_PAYMENT_LIFETIME=3600

WEBHOOK_BASE_URL=https://arbex.io
FRONTEND_SUCCESS_URL=https://arbex.io/subscription/success
FRONTEND_CANCEL_URL=https://arbex.io/subscription/cancel
